<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <% if (currentUserID === ''){ %>
            <a class="navbar-brand" href="/">Food Reviewer</a>
              <% } else{ %>
                <a class="navbar-brand" href="/locations">Food Reviewer</a>
                <% } %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <% if (currentUserID === ''){ %>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/auth/signup">Sign Up</a></li>
                <li><a href="/auth/login">Login</a></li>
                </ul>
              <% } else{ %>
                <ul class="nav navbar-nav navbar-left">
                <li><a href="/locations">View Locations</a></li>
                <li><a href="/locations/new">Post a New Location</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile/<%= currentUserID %>" class="">Profile</a></li>
                <li><a href="/auth/logout" class="">Logout</a></li>
                </ul>
              <% } %>

        </div>
    </div>
</nav>
