<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Food Reviewer</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/signup">Sign Up</a></li>
                <li><a href="/locations">View Locations</a></li>
                <li><a href="/locations/new">Post a New Location</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
